<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Brahma">
  <test thread-count="5" name="MavenTest">
    <classes>
      
      <class name="driverFactroy.AppTest"/>
      <class name="driverFactroy.DataDrivenFramework"/>
      <class name="driverFactroy.DriverScript"/>
	  <class name="driverFactroy.dataProvider"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->